
@import "primereact/resources/themes/lara-light-cyan/theme.css";
@import 'primeicons/primeicons.css';

body, html {
  margin: 0;
  padding: 0;
  height: 100%;
}

html:root {
    --inputBackground: #F0F5F3;
    --inputBorder: #616161;
}